* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.wrapper {
  height: 90vh;
  width: 70%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

h1 {
  text-align: center;
  padding: 10px;
}

.box {
  border: 1px green solid;
  width: 60%;
  height: 80%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-right: 30px;
  grid-gap: 10px;
}
.free {
  border: 1px blue solid;
  border-radius: 10px;
  background-color: lawngreen;
}

.inPlay {
  border: 1px blue solid;
  border-radius: 10px;
  background-color: red;
}

.inPlay2 {
  border: 1px pink;
  border-radius: 10px;
  background-color: pink;
}
.played {
  border: 1px blue solid;
  border-radius: 10px;
  background-color: yellow;
}
.p1box {
  background-color: lightsalmon;
  border: 1px blue solid;
  border-radius: 10px;
}

.p2box {
  background-color: black;
  border: 1px blue solid;
  border-radius: 10px;
}
.players {
  border: 1px green solid;
  height: 90%;
  width: 50%;
  display: grid;
  text-align: center;
}

.players-box {
  border: 1px solid yellow;
  display: grid;
  grid-template-rows: auto auto;
}
.question-box {
  display: fixed;
  position: inherit;
  border: 1px solid red;
  display: grid;
  padding: 30px;
}

.answer-box {
  border: 1px solid green;

  display: grid;
  grid-template-columns: auto auto;
}

.answers {
  border: 1px solid;
  padding: 30px;
}
